{{ $lang := .Get 0 }}

{{ $translations := dict
    "ru" (dict
        "departures" "Отправление"
        "arrivals" "Прибытие"
        "stops" "Останавливаются"
        "back_to_map" "Вернуться на карту поездов"
    )
    "en" (dict
        "departures" "Departures"
        "arrivals" "Arrivals"
        "stops" "Stops"
        "back_to_map" "Back to the entire routes map"
    )
    "ka" (dict
    "departures" "გამგზავრება"
    "arrivals" "ჩამოსვლა"
    "stops" "ჩერდება"
    "back_to_map" "მარშრუტთა რუკაზე დაბრუნება"
)
}}

{{ $t := index $translations $lang }}

<div class="station-page-description">{{ index .Page.Params.description $lang | markdownify }}</div>

{{ partial "station-map.html" (dict "lang" $lang "coords" .Page.Params.coords) }}

<div class="station-page-content">
{{ if .Page.Params.routes.departure }}
<h2>{{ $t.departures }}</h2>
    {{ range sort .Page.Params.routes.departure "departure_time" }}
    {{ if not (and .start_date (gt (int .start_date) now.UnixMilli)) }}
    {{ partial "route-link.html" (dict "time" .departure_time "ref" .ref "lang" $lang "name_ru" .name_ru "name_ka" .name_ka "name_en" .name_en "frequency" .frequency "start_date" .start_date "end_date" .end_date "stop_time" .stop_time) }}
    {{ end }}
    {{ end }}
{{ end }}

{{ if .Page.Params.routes.arrival }}
<h2>{{ $t.arrivals }}</h2>
    {{ $routes := slice }}
    {{ range .Page.Params.routes.arrival }}
        {{ $time := .arrival_time }}
        {{ if not $time }}
            {{ $time = .departure_time }}
        {{ end }}
        {{ $route := merge . (dict "time" $time) }}
        {{ $routes = $routes | append $route }}
    {{ end }}
    {{ range sort $routes "time" }}
        {{ if not (and .start_date (gt (int .start_date) now.UnixMilli)) }}
        {{ partial "route-link.html" (dict "time" .time "ref" .ref "lang" $lang "name_ru" .name_ru "name_ka" .name_ka "name_en" .name_en "frequency" .frequency "start_date" .start_date "end_date" .end_date "stop_time" .stop_time) }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if .Page.Params.routes.via }}
<h2>{{ $t.stops }}</h2>
    {{ range sort .Page.Params.routes.via "departure_time" }}
    {{ if not (and .start_date (gt (int .start_date) now.UnixMilli)) }}
    {{ $time := .departure_time }}
    {{ if .arrival_time }}
        {{ $time = .arrival_time }}
    {{ end }}
    {{ partial "route-link.html" (dict "time" $time "ref" .ref "lang" $lang "name_ru" .name_ru "name_ka" .name_ka "name_en" .name_en "frequency" .frequency "start_date" .start_date "end_date" .end_date "stop_time" .stop_time) }}
    {{ end }}
    {{ end }}
{{ end }}
</div>

<p>🗺 <a href='/{{ $lang }}/'>{{ $t.back_to_map }}</a></p>

{{ partial "esd_calendar.html" (dict "Page" .Page "className" "esd-calendar-popup") }}